.override {
	width: inherit;
}

.content-wrapper {
	display: block;
}

.register-wrapper {
	width: 92%;
}

.register {
	display: block;
	width: 400px;
	/* margin: auto; */
}

.register-field {
	width: 100%;
}

.form-control {
	margin: 0;
}

.form-control label,
.form-control input,
.form-control textarea {
	display: block;
}

.form-fields-grid {
	display: grid;
	grid-template-columns: 12rem 25rem 2rem;
	grid-template-rows: auto;
	grid-gap: 0.5rem;
	width: 100%;
}

.error-message-wrapper {
	grid-column-start: 1;
}

.form-control label {
	font-weight: bold;
	/* margin-bottom: 0.5rem; */
}

.form-control input,
.form-control textarea {
	width: 100%;
	/* font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8; */
	/* padding: 0.15rem 0.25rem; */
}

.form-control input:focus,
.form-control textarea:focus {
	outline: none;
	background: #ebebeb;
	border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
	color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
	border-color: red;
	background: #ffd1d1;
}

.error {
	color: #aa081e;
	font-size: 1rem;
	text-align: left;
	background-color: #fff;
	padding: 0.5rem;
	border-color: #aa081e;
	border-width: thin;
	border-radius: 0.15rem;
}

.required {
	color: #aa081e;
	font-size: 1.5rem;
}

.form-field {
	display: block;
	line-height: 25px;
	width: 100%;
	/* margin-bottom: 1rem; */
	color: #666;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-field-label {
	color: #666;
	font-size: 16px;
	font-weight: 600;
}

.label {
	display: block;
	font-size: 14px;
	font-weight: 600;
}

.password,
.username,
.name,
.email {
	line-height: 25px;
	width: 100%;
	margin-bottom: 1rem;
}

.register-button {
	margin-left: 0;
	background-color: #fff;
	width: 100%;
}

.register-button:hover,
.register-button:active {
	background-color: var(--border-color);
	color: #fff;
}

.register-button:disabled,
.register-button:hover:disabled,
.register-button:active:disabled {
	background: #ccc;
	color: #979797;
	border-color: #ccc;
	cursor: not-allowed;
}
