.header {
	color: #fff;
}

.header h1 {
	font-size: 2em;
}

.shopping-cart-link {
	position: relative;
}

.shopping-cart-link img {
	width: 2.2rem;
}

.shopping-cart-link .shopping-cart-count {
	position: absolute;
	top: -0.5rem;
	right: -0.5rem;
	background: #d45757;
	color: #fff;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 0.2rem 0.4rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
