.create-account-grid {
	display: grid;
	grid-template-columns: 25rem;
	gap: 1rem;
	justify-content: center;
}

.login_grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

@media screen and (min-width: 768px) {
	.login__grid {
		display: grid;
		grid-template-columns: 25rem 25rem;
		align-items: self-start;
		gap: 2rem;
	}
}

.create-account__button {
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
	border: 2px solid var(--border-color);
	padding: 10px 20px;
	display: block;
	text-decoration: none;
	border-radius: 5px;
	font-size: 18px;
	color: #333;
	text-align: center;
	transition: 0.5s;
}

.login__form,
.login__new-account {
	padding: 1.88rem;
	font-weight: normal;
	width: 56.25rem;
}

.login__new-account {
	border: 2px solid #e6e6e6;
	border-radius: 3px;
	width: 25rem;
}

.login__form h2,
.login__new-account h2 {
	font-size: 24px;
	margin-bottom: 1rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}

.create-account__link {
	color: #333;
}
